<div class="registration-container">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="register()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Register
      </button>
    </form>
  </mat-card>
</div>

